*.sdf
*.opensdf
*.suo
*.user
*.pdb
*\Debug\*.obj
Debug\*.obj
*.tlog
*.lastbuildstate
*.log
*.swp
*~
*.exe
\NGenVS\Debug
*\bin

#Following ignores were taken from:
#http://stackoverflow.com/questions/1287256/git-net-files-to-ignore
#for precaution
*.dep
*.aps
*.vbw
*.ncb
*.pgl
*.bsc
*.ilk
*.exp
*.sbr
*.opt
*.ibd
*.pch
*.res